@import "tailwindcss";

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}
