<div class="text-center py-16 sm:py-24">
  <h1 class="font-mono text-6xl sm:text-8xl font-extrabold tracking-tight text-cyan-400">
    404
  </h1>
  <p class="mt-4 text-2xl font-bold text-slate-100">Page Not Found</p>
  <p class="mt-2 text-lg text-slate-400">
    Sorry, the page you are looking for does not exist.
  </p>
  <div class="mt-10">
    <a [routerLink]="'/'" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 transition-colors duration-300">
      Go back home
    </a>
  </div>
</div>
